* * * * * python3 /Users/asaslafsky/Code/Avi/legacy-apartments-scraping/madisonDruidHillsScraper.py
@reboot python3 /Users/asaslafsky/Code/Avi/legacy-apartments-scraping/madisonDruidHillsScraper.py &
